

  .realHeader  {
    background-color: white;
    display: flex;
    justify-content: flex-end;
    border: 1px solid #DDE3BF;  
    height: 54px;
 
  }
  .chef img{
    height: 34px;
    margin-top: 17px;
    margin-left: -445px;
  }
   .menu ul{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      list-style: none;
      margin-top: 34px;
      /* border: 1px solid #B198FC; */
  }
  .navEl{

    display: flex;
      flex-direction: row;
      justify-content: space-between;
      font-family: monospace;
    color: #B198FC
 
  }

  .navEl li {
    margin-left: 10px;
    font-size: 12px;
    margin-right: 17px;
  }
  .logo h4{
     /* border: 1px solid rgb(67, 85, 82);  */
    margin-right: 444px;
    font-size: 29px;
    margin-top: 21px;
    font-family: monospace;
    color: black;
  }

