.flexCategorie{
    display: flex;
    justify-content: space-around;
    border: 2px solid #3595a1;
}

.cat{
    display: flex;
    flex-direction: column;
    align-items: center; 
}


.cat1{
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 1.5px ); 
    -webkit-backdrop-filter: blur( 1.5px );
   border-radius: 10px;
   width: 31%;
   height: 47vh;
       left: 30%;
       top: 20%;
       opacity: 0.9; 
       transition: 0.2s
}
.cat2{
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 1.5px ); 
    -webkit-backdrop-filter: blur( 1.5px );
   border-radius: 10px;
   width: 31%;
   height: 47vh;
       left: 30%;
       top: 20%;
       opacity: 0.9; 
       transition: 0.3s
}


 .cat1:hover {
    height: 50vh;
    width: 33%;
    opacity: 1; 
} 
.cat2:hover {
    height: 50vh;
    width: 33%;
    opacity: 1; 
} 
.cat1 p{
    color: #4FFADC;
    font-family: monospace;
    margin-top: -30px;
}

.cat1 span{
    font-weight: bold;
} 

.cat2 span{
    font-weight: bold;
} 
.cat2 p{
    color: #4FFADC;
    font-family: monospace;
    margin-top: -30px;
}


.cat1 h4{
    /* border: 1px solid  #A8DADC; */
    font-size: 20px;
    height: 36%;
    width: 214px;
    color:  #B198FC;
    font-family:monospace;

}

.cat2 h4{
    /* border: 1px solid  #A8DADC; */
    font-size: 20px;
    height: 36%;
    width: 248px;
    color:  #B198FC;
    font-family:monospace;
}


div>a:link{
   text-decoration: none;
}

div .categoriesPictures{
    /* border: 2px solid #DCFA55; */
    height: 94%;    
    background: rgba( 244, 238, 238, 0.20 )
}


